[user]
	email = aleksandar-stojanoski@hotmail.com
    name = Aleksandar Stojanoski
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
